form div {
  margin-bottom: 1rem;
}

input {
  padding: 0.5rem;
  width: 100%;
  margin-top: 0.3rem;
}

button {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

button[type="button"] {
  margin-left: 1rem;
  background-color: #ccc;
}
